{
    http_port 8080
}

cacheproxy {
    log {
        output stderr
        format console
    }

    rewrite * /{uri}
    reverse_proxy * https://results-receiver.actions.githubusercontent.com {
        header_up Authorization "Bearer blalala"

        header_up Host {upstream_hostport}
        header_up -X-Forwarded-For
        header_up -X-Forwarded-Proto
        header_up -X-Forwarded-Host
    }
}
